{% load static %}
<section id="product-info">
    <div class="container mx-auto">
        <div class="py-6">
            <div class="flex flex-col lg:flex-row gap-6">
                <!-- Image Section -->
                <div class="w-full lg:w-1/2">
                    <div class="grid gap-4">
                        <!-- Big Image -->
                        <div id="main-image-container">
                            <img id="main-image"
                                class="h-auto w-full max-w-full rounded-lg object-cover object-center "
                                src="{{chosen.image}}"
                                alt="Main Product Image" />
                        </div>
                        <!-- Small Images -->
                        <div class="grid grid-cols-5 gap-4">
                            
                            
                            {% for variation in chosen.other_color_variations  %}
                                
                           
                            <a href="{{ variation.get_absolute_url }}">    
                            <div>
                                <img onclick="changeImage(this)"
                                data-full="images/single-product/2.jpg"
                                src="{{variation.image}}"
                                class="object-cover object-center max-h-30 max-w-full rounded-lg cursor-pointer"
                                alt="Gallery Image 2" />
                               
                            </a>
                    
                            </div>
                            {% endfor %}
                           
                        </div>
                    </div>
                </div>
                <!-- Product Details Section -->
                <div class="w-full lg:w-1/2 flex flex-col justify-between">
                    <div class="pb-8 border-b border-gray-line">
                        <h1 class="text-3xl font-bold mb-4">{{chosen.product.name}}</h1>
                        <div class="flex items-center mb-8">
                            <span>★★★★★</span>
                            <span class="ml-2">({{reviews_count}} Reviews)</span>
                            <a href="#write_review" class="ml-4 text-primary font-semibold">Write a review</a>
                        </div>
                        <div class="mb-4 pb-4 border-b border-gray-line">
                            <p class="mb-2">Brand:<strong><a href="#" class="hover:text-primary"> {{chosen.product.brand}}</a></strong>
                            </p>
                            <p class="mb-2">Product code:<strong> 00123</strong></p>
                            
                            {% if chosen.is_active %}
                                
                            
                            <p class="mb-2">Availability:<strong> In Stock</strong></p>
                            {% else %}
                            <p class="mb-2">Availability:<strong> Out of Stock</strong></p>
                            {% endif %}
                                
                        </div>
                        
                        <div id="same-color">
                            {% for var in chosen.same_colors %}
                        <a href="{{ var.get_absolute_url }}">
                                <p>{{var.size.name}} </p>
                            </a>
                        {% endfor %}
                        </div>
                        <div class="text-2xl font-semibold mb-8">${{chosen.price}}</div>
                        <div class="flex items-center mb-8">
                           <form action="{% url 'cart-add' chosen.slug %}" method="GET">
                            {% csrf_token %}
                            {{form}}
                            
                        </div>
                        <button type="submit" 
                        class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full">Add
                        to Cart</button>
                    </form>
                    </div>
                    <!-- Social sharing -->
                    <div class="flex space-x-4 my-6">
                        <a href="#" class="w-4 h-4 flex items-center justify-center">
                            <img src="{% static 'images/social_icons/facebook.svg' %}" alt="Facebook"
                                class="w-4 h-4 transition-transform transform hover:scale-110">
                        </a>
                        <a href="#" class="w-4 h-4 flex items-center justify-center">
                            <img src="{% static 'images/social_icons/instagram.svg' %}" alt="Instagram"
                                class="w-4 h-4 transition-transform transform hover:scale-110">
                        </a>
                        <a href="#" class="w-4 h-4 flex items-center justify-center">
                            <img src="{% static 'images/social_icons/pinterest.svg' %}" alt="Pinterest"
                                class="w-4 h-4 transition-transform transform hover:scale-110">
                        </a>
                        <a href="#" class="w-4 h-4 flex items-center justify-center">
                            <img src="{% static 'images/social_icons/twitter.svg' %}" alt="Twitter"
                                class="w-4 h-4 transition-transform transform hover:scale-110">
                        </a>
                        <a href="#" class="w-4 h-4 flex items-center justify-center">
                            <img src="{% static 'images/social_icons/viber.svg' %}" alt="Viber"
                                class="w-4 h-4 transition-transform transform hover:scale-110">
                        </a>
                    </div>
                    <!-- Additional Information -->
                    <div>
                        <h3 class="text-lg font-semibold mb-2">Product Description</h3>
                        <p>{{chosen.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>